# HTTP Request strings
\brequest\.(accesstypes|httpmethod|cookies|url|browser|querystring|certificate|urlreferrer|TotalBytes|BinaryRead|files|items|rawurl|useragent|headers|form|servervariables|userlanguages)\b

# HTML Output
\bresponse\.write\b
\binnerText\b
\bHttpUtility\b
\binnerHTML\b
\bHtmlEncode\b
\b<%=\b
\bUrlEencode\b

# SQL & Database
\bexec sp_\b
select.*from
SELECT.*FROM
\binsert\b
\bINSERT\b
\bupdate\b
\bUPDATE\b
\bWHERE\b
\bwhere\b
\bDELETE\b
\bdelete\b
\bexecute sp_\b
\bexec xp_\b
\b\.Provider\b
\bSystem\.Data\.sql\b
\bADODB\.recordset\b
\bNew OleDbConnection\b
\bExecuteReader\b
\bDataSource\b
\bSqlCommand\b
\bMicrosoft\.Jet\b
\bSqlDataReader\b
\bExecuteReader\b
\bSqlDataAdapter\b
\bStoredProcedure\b
\bEXEC @\b
\bEXECUTE @ \b
\bexec @\b
\bexecute @ \b
\bexecutestatement \b
\bexecuteSQL\b
\bsetfilter \b
\bexecuteQuery \b
\bGetQueryResultInXML \b
\badodb\b
\bsqloledb\b
\bsql server\b
\bdriver\b
\bServer\.CreateObject\b

# Cookies
\bSystem\.Net\.Cookie\b
\bHTTPOnly\b
\bdocument\.cookie\b

# HTML Tags
\bURLEncode\b
\b<applet>\b
\b<frameset>\b
\b<embed>\b
\b<frame>\b
\b<html>\b
\b<iframe>\b
\b<img>\b
\b<style>\b
\b<i?layer>\b
\b<meta>\b
\b<object>\b
\b<i?frame security\b

# Input Controls
\bhtmlcontrols\.htmlinputhidden\b
\bwebcontrols\.(hiddenfield|hyperlink|textbox|label|linkbutton|listbox|checkboxlist|dropdownlist)\b

# WEB.config
\brequestEncoding\b
\bresponseEncoding\b
\bTrace\b
\bauthorization\b
\bcompilation\b
\bwebcontrols\.linkbutton\b
\bwebcontrols\.listbox\b
\bwebcontrols\.dropdownlist\b
\bCustomErrors\b
\bhttpCookies\b
\bhttpHandlers\b
\bwebcontrols\.checkboxlist\b
\bhttpRuntime\b
\bsessionState\b
\bmaxRequestLength\b
\bDebug\b
\bCredentials\b
\bidentity\b
\bimpersonate\b
\btimeout\b
\bremote\b
\bconnectionStrings\b
\bauthentication\b
\bmode\b
\bAllow\b
\bDeny\b
\bforms\b
\bprotection\b
\bappSettings\b
\bConfigurationSettings\b
\bappSettings\b

# Global.asax
\bApplication_OnAuthenticateRequest\b
\bApplication_OnAuthorizeRequest\b
\bSession_OnStart\b
\bSession_OnEnd\b

# Logging
\blog4net\b
\bConsole\.WriteLine\b
\bSystem\.Diagnostics\.Debug\b
\bSystem\.Diagnostics\.Trace\b

# machine.config
\bvalidateRequest\b
\benableViewState\b
\benableViewStateMac\b

# Threads and concurrency
\bThread\b
\bDispose\b

# Class design
\bPublic\b
\bSealed\b

# Reflection, Serialization
\bSerializable\b
\bAllowPartiallyTrustedCallersAttribute\b
\bGetObjectData\b
\bSystem\.Reflection\b

# Exception & Errors
\bcatch\b
\bfinally\b
\btrace\b
\benabled\b
\bcustomErrors\b
\bmode\b
\bStrongNameIdentity\b
\bStrongNameIdentityPermission\b

# Cryptography
\bRNGCryptoServiceProvider\b
\bSHA\b
\bMD5\b
\bbase64\b
\bDES\b
\bRC2\b
\bSystem\.Security\.Cryptography\b
\b(System\.)?Random\b
\bxor\b

# Storage
\bSecureString\b
\bProtectedMemory\b

# Authorization, Assert & Revert
\bSkipVerification\b
\bControlEvidence\b
\bSerializationFormatter\b
\bControlPrincipal\b
\bRequestMinimum\b
\bRequestOptional\b
\bAssert\b
\bDebug\.Assert\b
\bCodeAccessPermission\b
\bMemberAccess\b
\bControlAppDomain\b
\bUnmanagedCode\b
\bControl(Domain)?Policy\b

# Legacy methods
\bprintf\b
\bstrcpy\b

# Custom
\b\[WebMethod\]\b
