# HTTP Request strings
request\.(accesstypes|httpmethod|cookies|url|browser|querystring|certificate|urlreferrer|TotalBytes|BinaryRead|files|items|rawurl|useragent|headers|form|servervariables|userlanguages)

# HTML Output
response\.write
innerText
HttpUtility
innerHTML
HtmlEncode
<%=
UrlEencode

# SQL & Database
exec sp_
select.*from
SELECT.*FROM
insert
INSERT
update
UPDATE
WHERE
where
DELETE
delete
execute sp_
exec xp_
\.Provider
System\.Data\.sql
ADODB\.recordset
New OleDbConnection
ExecuteReader
DataSource
SqlCommand
Microsoft\.Jet
SqlDataReader
ExecuteReader
SqlDataAdapter
StoredProcedure
EXEC @
EXECUTE @ 
exec @
execute @ 
executestatement 
executeSQL
setfilter 
executeQuery 
GetQueryResultInXML 
adodb
sqloledb
sql server
driver
Server\.CreateObject

# Cookies
System\.Net\.Cookie
HTTPOnly
document\.cookie

# HTML Tags
HtmlEncode
URLEncode
<applet>
<frameset>
<embed>
<frame>
<html>
<iframe>
<img>
<style>
<i?layer>
<meta>
<object >
<i?frame security

# Input Controls
htmlcontrols\.htmlinputhidden
webcontrols\.(hiddenfield|hyperlink|textbox|label|linkbutton|listbox|checkboxlist|dropdownlist)

# WEB.config
requestEncoding
responseEncoding
Trace
authorization
compilation
webcontrols\.linkbutton
webcontrols\.listbox
webcontrols\.dropdownlist
CustomErrors
httpCookies
httpHandlers
webcontrols\.checkboxlist
httpRuntime
sessionState
maxRequestLength
Debug
Credentials
identity
impersonate
timeout
remote
connectionStrings
authentication
mode
Allow
Deny
forms
protection
appSettings
ConfigurationSettings
appSettings

# Global.asax
Application_OnAuthenticateRequest
Application_OnAuthorizeRequest
Session_OnStart
Session_OnEnd

# Logging
log4net
Console\.WriteLine
System\.Diagnostics\.Debug
System\.Diagnostics\.Trace

# machine.config
validateRequest
enableViewState
enableViewStateMac

# Threads and concurrency
Thread
Dispose

# Class design
Public
Sealed

# Reflection, Serialization
Serializable
AllowPartiallyTrustedCallersAttribute
GetObjectData
System\.Reflection

# Exception & Errors
catch
finally
trace
enabled
customErrors
mode
StrongNameIdentity
StrongNameIdentityPermission

# Cryptography
RNGCryptoServiceProvider
SHA
MD5
base64
DES
RC2
System\.Security\.Cryptography
(System\.)?Random
xor

# Storage
SecureString
ProtectedMemory

# Authorization, Assert & Revert
SkipVerification
ControlEvidence
SerializationFormatter
ControlPrincipal
RequestMinimum
RequestOptional
Assert
Debug\.Assert
CodeAccessPermission
MemberAccess
ControlAppDomain
UnmanagedCode
Control(Domain)?Policy

# Legacy methods
printf
strcpy
