\beval\b
\bdocument\.cookie\b
\bdocument\.referrer\b
\bdocument\.attachEvent\b
\bdocument\.open\b
\bdocument\.URL\b
\bdocument\.URLUnencoded\b
\bdocument\.write\b
\bdocument\.create\b
\bdocument\.execCommand\b
\bdocument\.forms\[0\]\.action\b
\bdocument\.location\b
\bdocument\.body\b
\bdocument\.body\.innerHtml\b
\bdocument\.body\.innerText\b
\bdocument\.close\b
\bdocument\.writeln\b
\blocation\.hash\b
\blocation\.href\b
\blocation\.search\b
\bwindow\.alert\b
\bwindow\.attachEvent\b
\bwindow\.createRequest\b
\bwindow\.execScript\b
\bwindow\.location\b
\bwindow\.open\b
\bwindow\.navigate\b
\bwindow\.setInterval\b
\bwindow\.setTimeout\b
\bXMLHTTP\b
